body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 25px;
    padding-right: 25px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.right-pulled-button-space {
    margin-left: 8px;
}


/* */


#about {
    background-color: transparent;
}

.about-section {
    height: 650px;

}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-circle {
  border-radius: 50%;
}

#healthcare {
    padding-top: 50px;
}

img {
  vertical-align: middle;
}

h3 {
    color: #303030;
    padding-left: 70px;
    display: block;
}

.img-text {
    font-size: 15px;
    color: #484848;
    padding-left: 80px;
}